div{
    margin-top: 75px;
    border: 5px solid;
    height: 500px;
    width: 400px;
    overflow: scroll;
}
body{
    font-style: oblique;
    font-size: medium;
    background-image: url(images/yellow.jpg);
}