/* uwu.css */

div a:link {
    color: rgb(40, 79, 80);
}

div a:hover {
    color: rgb(35, 205, 211);
    font-size: 1.1em;
}
div a:active{
    color: black;
}
div a:visited{
    color: rgb(137, 77, 35);
}
h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: bisque;
}
p::selection{
    color: rgb(143, 176, 237);
    background-color: black;
}
#colourss li::before{
    content: "✔️";
}
#black::after{
    content: "🖤";
}
#white::after{
    content: "🤍";
}
#yellow::after{
    content: "💛";
}